* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    font-family: 'Bellota Text', cursive;   
}
.header {
    height: 100px;
    font-size: 22px;
    /* background-color: red; */
}
.header h1 {
    padding: 10px;
}

.picture {
    height: 310px;
    background-color: gray;
}

.picture img {
    border-radius: 50%;
}

.about-me {
    height: 90px;
    /* background-color: red; */
}

.about-me2 {
    width: 70%;
    /* background-color: rosybrown; */
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;    
    height: 100px;
}
/* .about-me2 h2, p {
    text-align: center; */

.skill{
    display: flex;
    justify-content: center;
}

.skill-card{
    border: 1px solid black;
    margin: 25px;
    padding: 1px;
    width: 300px;
    height: 450px;
}

.skill-card img{
    width: 300px;
    height: 250px;
}
.skill-card li{
    text-align: initial;
}
